h1 {
    color: blue;
  }
  h2 {
    color: red;
  }
  h3 {
    color:blueviolet;
  }
  #close-image img {
    display: block;
    height: 130px;  
    width: 100px;
}
table, th, td {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}
